$font-primary: 'Plus Jakarta Sans', sans-serif;
$font-secondary: 'Prata', serif;
$font-accent: 'Cormorant Unicase', serif;

$color-primary: #111111;
$color-secondary: #7A7A7A;
$color-accent: #74642F;
$color-bg: #F3F2EC;
$color-bg-light: #EDEBE4;

$padding-section: 180px;