<header>
    <nav class="navbar navbar-expand-lg main-bg">
        <div class="container align-items-center">
            <div class="socials">
                <i class="fa-brands fa-facebook me-3"></i>
                <i class="fa-brands fa-instagram me-3"></i>
                <i class="fa-brands fa-linkedin me-3"></i>
                <i class="fa-brands fa-twitter me-3"></i>
                <i class="fa-solid fa-b"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <li class="nav-item justify-content-center list-unstyled">
                    <form method="get" action="{% url 'book-search' %}" class="d-flex align-items-center authorization-form" novalidate>
                        {{ form.query.label_tag }}
                        <div style="position: relative; width: 300px;">
                            <input class="form-control" type="text" name="query" style="width: 100%;" placeholder="Search books...">
                            <div id="search-results"></div>
                        </div>
                        <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
            </div>
            <div class="navbar justify-content-end">
                <ul class="navbar-nav mr-auto mb-3 mb-lg-0 fs-5">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile-detail' user.username %}" class="nav-link">
                                <i class="fa-regular fa-user"></i> {{ user.username }}
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-link"><i class="fa-regular fa-user"></i> Account</a>
                        {% endif %}
                    </li>
                    <li class="nav-item"><div class="vert-line"></div></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post" class="nav-link">
                                {% csrf_token %}
                                <button type="submit" class="nav-link p-0">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                                </button>
                            </form>
                        </li>
                        <li class="nav-item"><div class="vert-line"></div></li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'cart' %}" class="nav-link d-inline-flex align-items-center">
                            <i class="fa-solid fa-cart-shopping me-2"></i> Cart
                            {% if cart_items_count > 0 %}
                                <span class="badge rounded-pill bg-danger ms-2">{{ cart_items_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item"><div class="vert-line"></div></li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</header>