<footer>
    <div class="container">
        <div class="row p-0">
            <div class="col">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <h1 class="title m-0">BookSaw</h1>
                </a>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <h5>About us</h5>
                <ul class="nav flex-column mb-5">
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Vision</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Article</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Service Terms</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Donate</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Discover</h5>
                <ul class="nav flex-column mb-5">
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Books</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Author</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Subjects</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Advanced Search</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>My account</h5>
                <ul class="nav flex-column mb-5">
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Sign in</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">View cart</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">My wishlist</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Track my order</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Help</h5>
                <ul class="nav flex-column mb-5">
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Help Center</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Report a problem</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Suggesting edits</a></li>
                    <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<hr>
<section id="all-right-reserved">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h3 class="all-rights-text">© 2023. All rights reserved.</h3>
            <div class="socials">
                <i class="fa-brands fa-facebook me-3"></i>
                <i class="fa-brands fa-instagram me-3"></i>
                <i class="fa-brands fa-linkedin me-3"></i>
                <i class="fa-brands fa-twitter me-3"></i>
                <i class="fa-solid fa-b"></i>
            </div>
        </div>
    </div>
</section>