<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/connections.html" %}
    <title>{% block title %} Base Title {% endblock title %}</title>
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/header.html" %}
    {% block body %}
    
    Base Body. Type something here!

    {% include "components/footer.html" %}
    {% endblock body %}
</body>
</html>