{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="main-bg">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between">
                <hr class="hr-small">
                <h1 class='sub-title authorization-title fs-1'>Profile detail - {{ user.username }}</h1>
                <hr class="hr-small">
            </div>
            <div class="row mt-5">
                <div class="col d-flex justify-content-center">
                    {% if user_profile.profile_picture %}
                        <img class="profile_picture" src="{{ user_profile.profile_picture.url }}?{{ user_profile.user.id }}" alt="Profile Picture">
                    {% else %}
                        <img class="profile_picture" src="{% static "profile/img/default_profile.png" %}?{{ user_profile.user.id }}" alt="Default Profile Picture">
                    {% endif %}
                </div>
                <div class="col d-flex">
                    <div class="text-start">
                        <p class="fs-5">First name: {{ user_profile.first_name }}</p>
                        <p class="fs-5">Last name: {{ user_profile.last_name }}</p>
                        <p class="fs-5">Street: {{ user_profile.street }}</p>
                        <p class="fs-5">City: {{ user_profile.city }}</p>
                        <p class="fs-5">Postal code: {{ user_profile.postal_code }}</p>
                        <p class="fs-5">Country: {{ user_profile.country }}</p>
                        <p class="fs-5">Birth date: {{ user_profile.birth_date }}</p>
                        <p class="fs-5">Bio: {{ user_profile.bio }}</p>
                        <p class="fs-5">Date joined: {{ user_profile.date_joined }}</p>
                        <p class="fs-5 mb-5">Phone: {% if user_profile.phone_number %} {{ user_profile.phone_number }} {% endif %} </p>
                        <button type="button" class="btn read-more mb-0 mt-5" 
                            onclick="window.location.href='{% url 'profile-update' user.username %}'">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 100px;">
    {% if user_profile.favorite_books.all %}
    <section class="d-flex align-items-center justify-content-between p-0 main-bg mt-5 ms-5">
        <div class="container-fluid">
            <div class="d-flex cards justify-content-between flex-direction-row flex-wrap all-books">
                {% for book in user_profile.favorite_books.all %}
                <a class="text-decoration-none" href="{% url 'book-detail' book.slug %}">
                    <div class="book-card">
                        <div class="card card-background">
                            {% if book.photo %}
                                <img src="{{ book.photo.url }}" alt="">
                            {% else %}
                                <img src="/static/img/default-book.png" alt="">
                            {% endif %}
                        </div>
                        <p class="name-book mt-4">{{ book.title }}</p>
                        <p class="author-book">{{ book.author }}</p>
                        {% if book.discounted_price %}
                                <div class="d-flex justify-content-center">
                                    <p class="price mb-1 me-3 text-decoration-line-through no-hover">${{ book.price }}</p>
                                    <p class="price mb-1 font-weight-bold">$ {{ book.discounted_price }}</p>
                                </div>
                        {% else %}
                                <p class="price mb-1 text-center">$ {{ book.price }}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
</div>

{% endblock body %}